a{
    color: gray;
}
.mainInfor p{
    height: 30px;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
}
.recent_replies{
    position: relative;
}
.mainInfor .toToHomePageA,
.lastestTopics h2 ,
.recent_replies h2 {
    padding: 0 5px 0 15px;
    color: #80bd01;
    font-size: 14px;
    font-weight: normal;
}
.mainInfor h2,
.lastestTopics h2,
.recent_replies h2{
    background-color: #e1e1e1;
    color: #444;
}
.mainInfor .userInfoDiv{
    padding: 15px;
}
.mainInfor .userAvatar{
    margin-right: 5px;
}
.lastestTopics {
    margin-bottom: 15px;
    position: relative;
}
.lastestTopics h2,
.recent_replies h2{
    padding-left: 15px;
}
.lastestTopicsItem,
.recent_repliesItem{
    margin-bottom: 5px;
}
.mainInfor span,
.mainInfor img,
.gitInfo i, 
.gitInfo em,
.lastestTopicsItem .userAvatar,
.lastestTopicsItem span,
.recent_repliesItem .userAvatar,
.recent_repliesItem span {
    float: left;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
}
.recent_repliesItem .userAvatar{
    margin: 0 5px;
}
.userAvatar{
    height: 30px;
    width: 30px;
}
.lastestTopicsItem .replyUserAvatar,
.lastestTopicsItem .replyDif,
.recent_repliesItem .replyUserAvatar,
.recent_repliesItem .replyDif{
    float: right;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
}
.lastestTopicsItem .replyDifP,
.recent_repliesItem .replyDifP{
    margin-right: 10px;
}
.gitInfo .gitIcon{
    width: 30px;
    display: block;
    background: url(../../assets/img/git.png) no-repeat 0 0;
    background-size: 30px 30px;
    margin-right: 15px;
}

h2{
    margin: 0;
    height: 40px;
    background-color:#ccc;
    line-height: 40px
}

.recent_repliesItem,
.lastestTopicsItem{
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.lastestTopicsItem:hover,
.recent_repliesItem:hover{
 background-color: #f2e9e0;
}
.recent_repliesItem span,
.lastestTopicsItem span{
    margin:0 5px;
}
.recent_repliesItem .replyCount,
.lastestTopicsItem .replyCount{
    margin-right: 0px;
}
.lastestTopics .typeMark,
.recent_replies .typeMark{
    background: #80bd01;
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    color: #fff;
    font-size: 12px;
}
.recent_repliesList,
.lastestTopicsList{
    margin-bottom: 50px;
    background-color: #f5f5f5;
}
.recent_repliesList, .lastestTopicsList{
    padding: 10px 20px;
}
.lastestTopicsList .replyDif{
    margin-right: 10px;
}
.userPage{
    padding-bottom: 50px;
}
.replyDif{
    margin-right: 5px;
}
.viewMore{
    font-weight: bolder;
    color: cornflowerblue;
    position: absolute;
    bottom: -30px;
    right: 20px;
}
#userTopicDetail .userTopicDetail_title ,
#userTopicDetail .topicTitle{
    font-size: 14px;
    font-weight: normal;
    padding: 0 10px;
}
#userTopicDetail .userTopicDetail_title a{
    margin: 0 15px;
    color: #80bd01;
}
#userTopicDetail .topicTitle{
    padding-left: 25px;
}
#userTopicDetail .lastestTopicsList{
    padding: 20px;
}